@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
:focus {
  outline: none;
}
h1 {
  font-size: 24px;
}
h2 {
  line-height: 24px;
  color: #999999;
  font-weight: bold;
}
h3 {
  font-size: 16px;
  color: #333333;
}
h4 {
  font-size: 14px;
  font-weight: bold;
  margin-top: 3px;
}
body {
  font-size: 13px;
  color: rgb(var(--foreground-rgb));
  background: #fff;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.color {
  background-color: #5bc5a7;
}
.green {
  color: #5bc5a7;
}
.orange {
  color: #ff652f;
}
.modal {
  /* display: none; */
  justify-content: center;
  padding-top: 15vh;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.697);
}
.modal-div {
  z-index: 10000;
  height: fit-content;
  border-radius: 5px;
  width: 350px;
  border: 1px solid #999;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}
.modal-top {
  display: flex;
  padding: 7px;
  padding-left: 10px;
  padding-right: 15px;
  color: white;
  text-shadow: 0 -1px 0 #318a71;
  font-size: 18px;
  font-weight: bold;
  background-color: #5bc5a7;
  border-bottom: 1px solid #36977b;
  justify-content: space-between;
}
.modal-mid {
  display: flex;
  font-size: 14px;
  padding: 7px;
  padding-left: 10px;
  background-color: white;
}
.modal-bot {
  padding: 7px;
  padding-left: 10px;
  display: flex;
  justify-content: end;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 1px solid rgb(230, 230, 230);
}

.navbar {
  display: flex;
  color: white;
  margin: auto;
  width: 100%;
  height: 33px;
  justify-content: space-between;
  padding-right: min(50px, 5%);
  padding-left: min(50px, 5%);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #48be9d;
}
.main-body {
  justify-content: center;
  display: flex;
  height: 100vh;
  /* min-width: 960px; */
  padding-top: 33px;
  padding-right: max(50px, 5%);
  padding-left: max(50px, 5%);
}
.left-container,
.mid-container,
.right-container {
  /* padding-left: 3px;
  padding-right: 3px; */
}

.left-container {
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  color: #999999;
  margin-right: 10px;
}
.mid-container {
  flex-grow: 1;
  border-left: solid;
  border-right: solid;
  border-width: 1px;
  border-color: #ccc;
  border-top: none;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}
.right-container {
  width: 20%;
  max-width: 200px;
  margin-top: 12px;
  padding-left: 24px;
}
.delete {
  display: flex;
  padding-right: 5px;
  font-size: 20px;
  font-weight: bolder;
  color: rgb(214, 4, 4);
  text-decoration: underline;
}
.btn {
  border: solid;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  padding: 5px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 7px;
  color: #fff;
}
.btn-2 {
  border: solid;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  padding: 4px;
  padding-right: 5px;
  margin-left: 2px;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
}
.btn-3 {
  border: solid;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  padding: 5px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 7px;
  color: #fff;
}
.btn-free {
  border: solid;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  padding: 5px;
  padding-left: 12px;
  padding-right: 12px;
  color: #fff;
}
.btn-inv {
  color: black;
  border: solid 1px rgb(197, 197, 197);
  border-radius: 3px;
  font-size: 12px;
  background: #eee;
  padding: 2px 6px;
}
.btn-inv:hover {
  background: #e4e4e4;
}
.btn-orange {
  background: #ff652f;
  text-shadow: 0 -1px 0 #c83400;
}
.btn-orange:hover {
  background: #f9571d;
}
.btn-blue {
  background: #2d51e2;
  text-shadow: 0 -1px 0 #1f068d;
}
.btn-lblue {
  background: #008cff;
  text-shadow: 0 -1px 0 #1f068d;
}
.btn-green {
  background: #5bc5a7;
  color: #fff;
  text-shadow: 0 -1px 0 #318970;
}
.btn-green:hover {
  background: #37c099;
}
.btn-gray {
  background: #f6f6f6;
  color: black;
}
.btn-gray:hover {
  background: #e6e6e6;
}
.btn-fb {
  width: 76px;
  background: #3b5998;
}
.btn-tt {
  width: 78px;
  background: #4099ff;
}
.acc-btn {
  padding: 5px 12px 5px 12px;
}
.acc-btn:hover {
  color: white;
  background: #39a385;
}
.invites {
  color: #fff;
  border: 1px solid #39a385;
  font-weight: bold;
  font-size: 14px;
  padding: 3px 5px;
  margin: 15px 0 0 5px;
  text-shadow: 0 -1px 0 #3eaf8f;
}
.input-box {
  padding: 5px;
  margin-left: 5px;
  border: 1px solid #ccc;
  border-top: 0px;
}
.input-box input {
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 3px 5px;
  /* margin-bottom: 5px; */
}
.topbar {
  font-weight: bold;
}

.block {
  color: #999;
  flex: 1;
  text-align: center;
  line-height: 17px;
}

.list-btn,
.chart-btn {
  font-size: 12px;
  display: flex;
  /* border-left: 1px #d1d5db; */
  align-items: center;
  justify-content: space-evenly;
  padding-right: 5px;
  padding-left: 5px;
  font-weight: normal;
  border: 0.7px solid rgba(0, 0, 0, 0.1);
}

.list-btn {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right-width: 0.5px;
}
.chart-btn {
  border-left-width: 0.5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.list-btn:hover,
.chart-btn:hover {
  background-color: rgb(243, 243, 243);
}
.listchart-open,
.listimg {
  background-color: #eeeeee;
  color: black;
}
.left-header {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  color: #cccccc;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #eee;
  background-color: #f6f6f6;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 6px;
}
.left-header span {
  text-transform: uppercase;
}
.left-tabs {
  display: flex;
  padding: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 14px;
  border-left: 6px solid rgba(255, 255, 255, 0.5);
}
.all-expenses {
  font-size: 14px;
  border-left: 6px solid rgba(255, 255, 255, 0.5);
}
.left-top {
  border-left: 6px solid rgba(255, 255, 255, 0.5);
  display: flex;
  width: 100%;
  text-align: start;
  justify-content: left;
}
.left-tabs div,
.left-top div {
  filter: grayscale(100%);
  margin-right: 4px;
}
.left-top:hover,
.left-tabs:hover,
.left-header:hover {
  background: #eaeaea;
  border-color: #ffffff;
  color: rgb(100, 100, 100);
}
/* .left-top:hover > div,
.left-tabs:hover > div,
.left-header:hover > div {
  filter: brightness(50%);
} */

.open {
  border-left: 6px solid #5bc5a7;
  color: #5bc5a7;
  font-weight: bold;
}
.open:hover {
  border-left: 6px solid #5bc5a7;
  color: #5bc5a7;
}
.open div {
  opacity: 100%;
  filter: invert(0%);
}

.expense-parent:hover {
  background: rgb(248, 248, 248);
  .expense-title {
    text-decoration: underline;
  }
  /* padding: 10px; */
  /* padding-left: 5px; */
}
.expense-parent div {
  width: 100%;
  line-height: 1;
}

.expense-trigger {
  display: flex;
  font-weight: normal;
  padding: 10px 5px;
}
.open-down {
  border-bottom: 1px solid #ccc;
}
.py-2 {
  padding: 0px;
}
.expense-dropdown {
  background: #f8f8f8;
  padding: 15px;
  box-shadow: inset 0 5px 7px -5px rgba(0, 0, 0, 0.25),
    inset 0 -3px 7px -5px rgba(0, 0, 0, 0.25);
}
.expense-owe {
  font-size: 12px;
  color: #aaaaaa;
}

.expense-group {
  background-color: #eeeeee;
  color: #666666;
  font-size: 10px;
  padding: 3px 5px;
  line-height: 1;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  width: max-content;
}

.expense-img {
  border: 1px solid #ddd;
}

.popover-trigger {
  margin-right: 3px;
  padding: 5px;
  display: inline-block;
  background: #eee;
  border: 1px solid #bbb;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.1);
  border-bottom-color: rgba(0, 0, 0, 0.25);
  opacity: 30%;
}
.popover-trigger:hover {
  opacity: 60%;
  cursor: pointer;
}
.popover-open {
  opacity: 100%;
}
.popover-open:hover {
  opacity: 100%;
}
.triangle-up {
  position: relative;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #b7b7b7; /* You can change the color by replacing #ff0000 */
  transform: translateX(80px) translateY(-5px);
}

.hover-gray:hover {
  opacity: 60%;
  cursor: pointer;
}
.add:hover {
  color: #5bc5a7;
}
.cursor:hover {
  cursor: pointer;
  opacity: 70%;
}
.dropdown {
  display: none;
}
@media (max-width: 850px) {
  .left-container,
  .right-container {
    display: none;
  }
  .main-body {
    padding-left: 0px;
    padding-right: 0px;
  }
  .dropdown {
    display: flex;
  }
}
