@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
h1 {
  font-size: 24px;
}
h2 {
  line-height: 24px;
  color: #999999;
  font-weight: bold;
}
body {
  font-size: 13px;
  color: rgb(var(--foreground-rgb));
  background: #fff;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.color {
  background-color: rgb(27, 194, 159);
}

.navbar {
  /* max-width: 960px; */
  display: flex;
  color: white;
  margin: auto;
  width: 100%;
  height: 33px;
  justify-content: space-between;
  padding-right: max(50px, 5%);
  padding-left: max(50px, 5%);
}
.main-body {
  justify-content: center;
  display: flex;
  height: 100vh;
  min-width: 960px;
  padding-top: 33px;
  padding-right: max(50px, 5%);
  padding-left: max(50px, 5%);
}
.left-container,
.mid-container,
.right-container {
  /* padding-left: 3px;
  padding-right: 3px; */
}
.mid-container {
  border-left: solid;
  border-right: solid;
  border-width: 1px;
  border-color: #ccc;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}
.right-container {
  margin-top: 12px;
  padding-left: 24px;
}
.btn {
  border: solid;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  padding: 5px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 7px;
  color: #fff;
}
.btn-2 {
  border: solid;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  padding: 4px;
  padding-right: 5px;
  margin-left: 2px;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
}
.btn-inv{
  border: solid;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  font-size: 12px;
  background: #eee;
  padding: 2px 6px;

}
.btn-orange {
  background: #ff652f;
  text-shadow: 0 -1px 0 #c83400;
}
.btn-green {
  background: #5bc5a7;
  color: #fff;
  text-shadow: 0 -1px 0 #318970;
}
.btn-fb {
  width: 76px;
  background: #3b5998;
}
.btn-tt {
  width: 78px;
  background: #4099ff;
}
.invites {
  color: #fff;
  border: 1px solid #39a385;
  font-weight: bold;
  font-size: 14px;
  padding: 3px 5px;
  margin: 15px 0 0 5px;
  text-shadow: 0 -1px 0 #3eaf8f;
}
.input-box {
  padding:5px;
  margin-left: 5px;
  border: 1px solid #ccc;
  border-top: 0px;
}
.input-box input{
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 3px 5px;
  margin-bottom: 5px;
}
.topbar {
  font-weight: bold;
}

.block {
  color: #999;
  flex: 1;
  text-align: center;
  line-height: 17px;
}

.list-btn,
.chart-btn {
  display: flex;
  border-left: 1px #d1d5db;
  justify-content: space-evenly;
  padding-right: 5px;
  padding-left: 5px;
  font-weight: normal;
}

.list-btn {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right-width: 0.5px;
}
.chart-btn {
  border-left-width: 0.5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.left-header {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  color: #cccccc;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #eee;
  background-color: #f6f6f6;
  padding-left: 5px;
  padding-right: 5px;
}
.left-header span {
  text-transform: uppercase;
}
.left-tabs {
  display: flex;
  padding: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 14px;
  color: #999999;
  border-left: 6px solid rgba(255, 255, 255, 0.5);
}
.left-tabs div {
  filter: invert(50%);
  opacity: 70%;
  margin-right: 4px;
}
.open {
  border-left: 6px solid #5bc5a7;
  color: #5bc5a7;
  font-weight: bold;
}
.open div {
  opacity: 100%;
  filter: invert(0%);
}
